

{% load static %}



{% block content %}
<h1>Noticias</h1>
<nav class="menu">
    <ul>
        <li><a href="{% url 'index' %}" id="">Inicio</a></li>
        
       

        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'tasks' %}">Noticias Pendientes</a>
        </li>
        <li>
            <a href="{% url 'tasks_completed' %}">Noticias completas</a>
        </li>
        <li>
            <a href="{% url 'create_task' %}">Crear Noticias</a>
        </li>
        <li>
            <a href="{% url 'logout' %}">Salir</a>
        </li>
        {% else %}
        <li>
            <a href="{% url 'registro' %}">Registro</a>
        </li>
        <li>
            <a href="{% url 'iniSesion' %}"> Periodistas </a>
        </li>
        {% endif %}
    </ul>
     
    </ul>
</nav>

<ul class="conteiner_tasks">
    {% for task in tasks %}
        <li>
            <a href="{% url 'task_detail' task.id %}">
                
                <strong>{{task.title}}</strong>
                
                <p>{{task.description}}</p>
                <p>{{task.user.username}}</p>
                <p>{{task.imagen}}</p>
                <p>{{task.datecompleted}}</p>
            </a>
        </li>
    {% endfor %}
</ul>
<link rel="stylesheet" href="{% static 'tasks.css' %}">
{% endblock %}